---

---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/main.css">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <script src="/assets/js/main.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9868290400544390"
     crossorigin="anonymous"></script>
  <meta name="google-adsense-account" content="ca-pub-9868290400544390">
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JPEVYD1TEB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JPEVYD1TEB');
</script>
  <title>{{page.title}}</title>
</head>
<body class=" flex flex-col w-full " >
  {%include header.html%}

  <main class="flex flex-col w-full ">
    {{content}}     
  </main>

  {%include footer.html%}
  
</body>
</html>
